<template>
  <div class="generic-section" :style="{'background-color': backgroundColor}">
    <div class="container">
      <div class="columns is-gapless">
        <div
          class="column"
          :class="'is-' + leftSize > 6 ? 6 : rightSize"
          :data-aos="leftAnimation"
          data-aos-anchor-placement="bottom-bottom"
          data-aos-easing="linear"
          data-aos-duration="1500">
          <slot name="left"></slot>
        </div>
        <div
          class="column"
          :class="'is-' + rightSize > 6 ? 6 : rightSize"
          :data-aos="rightAnimation"
          data-aos-easing="linear"
          data-aos-duration="1500">
          <slot name="right"></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'summaryContent',
  props: {
    backgroundColor: {
      type: String,
      default: 'white'
    },
    leftAnimation: {
      type: String,
      default: 'fade'
    },
    rightAnimation: {
      type: String,
      default: 'fade'
    },
    leftSize: {
      type: Number,
      default: 5
    },
    rightSize: {
      type: Number,
      default: 5
    },
    leftPadding: {
      type: Number,
      default: 0
    },
    rightPadding: {
      type: Number,
      default: 0
    }
  },
  data: function () {
    return {
    }
  }
}
</script>

<style scoped>
  .generic-section { padding: 5rem; }
</style>
