<template>
  <div id="navi" class="container">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <transition name="bounce" enter-active-class="fadeInDown" appear>
            <logo class="big-idea"/>
          </transition>
        </div>
      </div>
      <div class="level-right">
        <transition name="bounce" enter-active-class="fadeInDown" appear>
          <div class="level-item">
            <p class="level-item"><a href="#" v-scroll-to="'#we-do'">WHAT WE DO</a></p>
            <p class="level-item"><a href="#" v-scroll-to="'#problems'">PROBLEMS</a></p>
            <p class="level-item"><a href="#" v-scroll-to="'#our-goals'">OUR GOALS</a></p>
            <p class="level-item"><a href="#" v-scroll-to="'#solutions'">SOLUTIONS</a></p>
            <p class="level-item"><a href="#" v-scroll-to="'#about-us'">ABOUT US</a></p>
            <p></p>
          </div>
        </transition>
      </div>
    </nav>
  </div>
</template>

<script>
import logo from 'components/navigation/_logo'

export default {
  name: 'navigation',
  data: function () {
    return {
    }
  },
  components: {
    logo
  }
}
</script>

<style lang="scss">
  p.level-item > a {
    color: white !important;
    opacity: .8;
  }

  p.level-item > a:hover {
    opacity: 1;
  }


  #navi {
    position: absolute;
    z-index: 100;
  }

  .big-idea {
    padding: 2rem;
    color: white !important;
  }

  .big-idea-transition {
    -vendor-animation-delay: 10s !important;
  }

</style>
