<template>
  <footer class="footer">
    <div class="container">
      <div class="subscribe box">
        <p class="has-text-centered is-size-4">Subscribe</p>
        <p class="content has-text-centered">Sign up with your email address to receive news and updates.</p>
        <div class="level">
          <div class="level-item">
            <p class="control has-icon has-addons has-text-centered">
              <input id="sub-email" type="email" placeholder="Email" class="input">
              <i class="fa fa-envelope"></i>
              <a class="button is-primary">Subscribe</a>
            </p>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-5">
        </div>
        <div class="column is-1">
          <p class="subtitle is-3"><a href="#"><i class="fa fa-facebook"></i></a></p>
        </div>
        <div class="column is-1">
          <p class="subtitle is-3"><a href="#"><i class="fa fa-twitter"></i></a></p>
        </div>
        <div class="column is-1">
          <p class="subtitle is-3"><a href="#"><i class="fa fa-instagram"></i></a></p>
        </div>
        <div class="column is-5">
        </div>
      </div>
      <div class="content has-text-centered">
        <p>
          <strong>Big Idea</strong> by <a href="#">Chee Xiong</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">by Big Idea Enterprise LLC</a>.
        </p>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'footerContent',
  data: function () {
    return {
    }
  }
}
</script>

<style scoped>
  input#sub-email { width: 15rem; }
</style>
