<template>
  <genericContent id="about-us" backgroundColor="#A3A999" leftAnimation="fade-left" rightAnimation="fade-up" :leftPadding="1" :rightPadding="1">
    <div slot="left">
      <div id="about-content">
        <p class="title is-2 has-text-white">About us</p>
        <p class="is-size-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>    </div>
    <div slot="right">
      <img class="is-hidden-mobile" src="assets/purpose.jpg" alt="purpose">
    </div>
  </genericContent>
</template>

<script>
import genericContent from 'components/sections/templates/_genericContent'

export default {
  name: 'AboutUs',
  data: function () {
    return {
    }
  },
  components: {
    genericContent
  }
}
</script>

<style scoped>
  #about-us { overflow:hidden; height:1%; }
  #about-content > p { color: white !important; }
  h1 { color: #445057 !important; }
</style>
