<template>
  <genericContent id="our-goals" :leftPadding="2" rightAnimation="fade-down" backgroundColor="#DCC8A6" :leftSize="6" :rightSize="6">
    <div id="two-left" slot="left">
      <img class="is-hidden-mobile" src="assets/goals.svg" alt="purpose">
    </div>
    <div slot="right">
      <div id="our-goals" class="content">
        <h1 style="color: white" class="is-1">Our Goals</h1>
        <p class="is-size-5">Here at BIE our goal is to find solutions to the complex thing of life and break it down into goals to where we can accomplish in our day to day life</p>
        <p class="is-size-5">Reduce the cost of sending materials into outerspace by 75% and reduce the chance of products exploding in the process of flying to it's destruction by 90%</p>
        <p class="is-size-5">Thus one of just a few handful of goals here at BIE that we are trying to solve</p>
      </div>
    </div>
  </genericContent>
</template>

<script>
import genericContent from 'components/sections/templates/_genericContent'

export default {
  name: 'OurGoals',
  data: function () {
    return {
    }
  },
  components: {
    genericContent
  }
}
</script>

<style scoped>
  #our-goals { overflow:hidden; height:1%; color: white; }
</style>
