<template>
  <div id="problems">
    <div class="columns is-centered">
      <div class="column is-offset-2">
        <p class="title is-1 has-text-white">Problems</p>
        <img src="assets/earth.svg" alt="">
      </div>
      <div class="column">
        <p class="is-size-5 has-text-white">The cost of getting into outter space is too expensive...Average people could never dream of going to space, or even have a business that deals with space or space exploration. Here at BIE, we want to bring that gap within reach of the average people and open opportunities to people that wants to pursue them.</p>
      </div>
      <div class="column is-1">
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Problems',
  data: function () {
    return {
    }
  }
}
</script>

<style scoped>
  #problems { overflow:hidden; height:1%; padding: 5rem; background-color: #3d8b9d; }
  h1 { color: #445057 !important; }
  div > img { height: 15rem; padding: 2rem; }
</style>
