<template>
  <div id="solutions">
    <p class="title is-1 has-text-white">Solutions</p>
    <div class="columns">
      <div class="column is-4">
        <div class="box">
          <div class="has-text-centered">
            <img src="assets/explosion.svg" alt="purpose">
          </div>
          <article class="message">
            <div class="message-body">
              The dangers of materials exploding while flying into orbit would be reduce to 80% and prevent devastating destruction to one's supplies or properties.
            </div>
          </article>
        </div>
      </div>
      <div class="column is-4">
        <div class="box">
          <div class="has-text-centered">
            <img src="assets/pollution.svg" alt="purpose">
          </div>
          <article class="message">
            <div class="message-body">
              We live in a modern industrial world where <strong>CO2 emissions</strong>, <strong>Water pollution</strong>, and <strong>Land polution</strong> are destroying our planet. If we do nothing the future generations will <em>suffer</em> for our lack of ignorance. If we wish for a brighter future for us tomorrow, let us act today to make a better tomorrow.
            </div>
          </article>
        </div>
      </div>
      <div class="column is-4">
        <div class="box">
          <div class="has-text-centered">
            <img src="assets/money.svg" alt="purpose">
          </div>
          <article class="message">
            <div class="message-body">
              By combining the knetic and potential energy of electricity we can launch our supplys into orbit at a much lower cost. Once the system is up and running it could be applied at any scale. Thus lowering cost dramatically.
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import genericContent from 'components/sections/templates/_genericContent'

export default {
  name: 'Problems',
  data: function () {
    return {
    }
  },
  components: {
    genericContent
  }
}
</script>

<style scoped>
  #solutions { overflow:hidden; height:1%; padding: 5rem; background-color: #445057; }
  h1 { color: #445057 !important; }
  div > img { height: 15rem; padding: 2rem; }
</style>
