<template>
  <genericContent id="we-do" leftAnimation="fade-up" rightAnimation="fade-left" :leftPadding="1" :rightPadding="1">
    <div id="one" slot="left">
      <div>
        <h1 class="title is-2">WHAT WE DO</h1>
        <p class="title is-4">What is it that we do here at BIE</p>
        <p class="title is-4">What Service are we offering to the people</p>
        <p class="title is-4">Here at BIE we solve some of the worlds biggest problems like...</p>
        <ul>
          <li>Polution - Air / land /water</li>
          <li>Energy - Oil-coal-nuclear-other alternative energies</li>
          <li>Space - Transport and transport systems</li>
          <li>Technology - Future advancements</li>
        </ul>
        <p class="content is-size-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div slot="right">
      <img class="is-hidden-mobile" src="assets/purpose.jpg" alt="purpose">
    </div>
  </genericContent>
</template>

<script>
import genericContent from 'components/sections/templates/_genericContent'

export default {
  name: 'WhatWeDo',
  data: function () {
    return {
    }
  },
  components: {
    genericContent
  }
}
</script>

<style scoped>
  #we-do { overflow:hidden; height:1%; }
  h1 { color: #445057 !important; }
  p { color: #3D8B9D !important; }
</style>
