<template>
  <div id="app">
    <navigation></navigation>
    <carousel></carousel>
    <affix class="has-text-right">
      <button class="button is-success" v-scroll-to="'#app'">Top</button>
    </affix>
    <WhatWeDo/>
    <Problems/>
    <OurGoals/>
    <Solutions/>
    <AboutUs/>
    <footerContent/>
  </div>
</template>

<script>
import navigation from 'components/navigation/_nav'
import carousel from 'components/carousels/_carousel'
import genericContent from 'components/sections/templates/_genericContent'
import WhatWeDo from 'components/sections/WhatWeDo'
import OurGoals from 'components/sections/OurGoals'
import Problems from 'components/sections/Problems'
import Solutions from 'components/sections/Solutions'
import AboutUs from 'components/sections/AboutUs'
import footerContent from 'components/footer/_footer'
import aos from 'aos'
import 'aos/dist/aos.css'

export default {
  data: function () {
    return {
      message: "Hello Vue!"
    }
  },
  components: {
    carousel,
    navigation,
    footerContent,
    genericContent,
    WhatWeDo,
    Problems,
    OurGoals,
    Solutions,
    AboutUs
  },
  created () {
    aos.init()
  }
}
</script>

<style>
  #app {
    background-color: white !important;
  }
</style>
