<template>
  <div id="carousel">
    <slider animation="fade" height="720px" :speed="2000" :interval="7000">
      <slider-item v-for="(picture, index) in list" :key="index">
        <div class="bg" :style="setCarouselBackground(picture)">
          <transition name="zoom" appear>
            <div class="slide-message">
              <p class="subtitle is-3 has-text-centered carousel-message" style="color: white;">{{message[index]}}</p>
            </div>
          </transition>
        </div>
      </slider-item>
    </slider>
  </div>
</template>

<script>
import { Slider, SliderItem } from 'vue-easy-slider'
export default {
  name: 'carousel',
  data: function () {
    return {
      list: ['clean-energy.jpg', 'green-energy.jpg', 'light.jpg', 'space.jpg'],
      message: [
        'We are solving important problems like Pollution',
        'Clean energy is the future',
        'Along with some other great ideas',
        'Getting into space is too expensive. Why not find solutions'
      ]
    }
  },
  components: { Slider, SliderItem },
  methods: {
    setCarouselBackground (content) {
      return {
        'background': 'url(assets/carousel/' + content + ')',
        'background-size': 'cover',
        // 'background-color': 'red',
        'width': '100%',
        'height': '100%'
      }
    }
  }
}
</script>

<style>
  #carousel {
    padding: 0 !important;
    width: 100%;
  }
  .slide-message {
    position: relative;
    top: 80%;
  }
  .carousel-message {
    font-weight: 800 !important;
  }
</style>
