<!DOCTYPE html>
<html>
  <head>
    <title>BigIdeas</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag("https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js") %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'hello_vue' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= yield %>
    <router-view></router-view>
  </body>
</html>
